.lightContainer {
    position: fixed;
    height: 100vh;
    width: 28vw;
    left: 6vw;

    background-color: #DDDDDD;
}

.darkContainer {
    position: fixed;
    height: 100vh;
    width: 28vw;
    left: 6vw;

    background-color: #272A37;
}

.top_section {
    color: black;
    font-family: Mulish-bold;
    font-size: 2rem;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.lightColor {
    color: black;
}

.darkColor {
    color: white;
}


.Chat_items_section {
    width: 28vw;
    height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addUser_button {
    margin: 0.4rem ;
    background-color: #1D90F5;
    color: white;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}