.top_section {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Mulish-regular;
    background-color: #1A202C;
    position: fixed;
    z-index: 1;
    color: white;
}


/* Theme Toggle Clases */

.lightContainer {
    background-color: #B7E89F;
}

.darkContainer {
    background-color: #282A37;
}

.lightUsername {
    color: #000;
 }
 
 .darkUsername {
     color: #fff;
 }
 
 .lightBackBox {
    background-color: #EEEEEE;
}

.darkBackBox {
    background-color: #242631;
}


.innerRing {
    background-image: url('../../../assets/images/killua.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1.8rem;
    min-height: 1.8rem;
    border-radius: 50%;
    border: 3px solid green;
}

.UserName {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.chatWindow {
    top: 5vh;
    height: 95vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BackBox {
    margin-top: 5vh;
    width: 95vw;
    height: 80vh;
    position: fixed;
    border-radius: 14px;
    box-shadow: 0px 3px 3px 4px rgba(0,0,0,.25) inset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}