.container {
  position: fixed;
  flex-direction: column;
  height: 100vh;
  width: 92vw;
  right: 0;
  /* box-shadow: 1px 8px 11px -2px black; */
}

.top_section {
  width: 100%;
  height: 80px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  /* position: fixed; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* z-index: 1; */
  color: white;
  padding: 0px 3.5vw;
  background-color: var(--primarygreen);
}

.top_section button {
  background-color: white;
  color: var(--primarygreen);
  font-size: 20px;
}

.headingContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.avatarContainer {
  display: flex;
  align-items: center;
  height: 67px;
}

.innerRing {
  /* background-image: url('../../../../public/killua.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 70px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid green;
  margin-right: 10px;
  background-color: lightgray;
}

.toggleButtonContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 1rem;
}

.UserName {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  height: 80px;
}

/* .lightUsername {
  color: var(--secondarygreen);
}

.darkUsername {
  color: white;
} */

.chatWindow {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--primaryyellow);
}

.BackBox {
  width: 100vw;
  height: 90vh;
  /* margin-top: 4vh; */
  border-radius: 25px 25px 0px 0px;
  /* box-shadow: 2px 3px 11px 3px rgb(0 0 0 / 25%) inset; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wallpaper1 {
  width: 82vw;
  height: 85vh;
  margin: auto;
  border-radius: 14px;
  /* box-shadow:2px 3px 11px 3px rgb(0 0 0 / 25%) inset; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://wallpaperaccess.com/full/51364.jpg');
}

.wallpaper2 {
  width: 82vw;
  height: 85vh;
  margin: auto;
  border-radius: 14px;
  /* box-shadow: 2px 3px 11px 3px rgb(0 0 0 / 25%) inset; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg');
}

/* .lightBackBox {
  background-color: white;
  background-image: url("../../../assets/images/homeScreen.png");

}

.darkBackBox {
  background-color: var(--tertiarydarkblue);
}

.lightContainer {
  background-color: var(--primarygreen);
}

.darkContainer {
  background-color: var(--primarydarkblue);
} */
