.main {
    height: 100vh;
    display: grid;
  }
  
  .container {
    margin: auto;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
  
  .loginImage{
    margin: auto;
  }
  
  .signup {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: var(--grey);
    margin-bottom: 79px;
    display: flex;
    justify-content: center;
  }
  
  .createAccount {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: var(--grey);
  }
  
  .lightContainer {
    background: rgb(45,53,148);
    background: linear-gradient(90deg, rgba(45,53,148,1) 30%, rgba(253,199,0,1) 100%);
    min-height: 100vh;
  }
  
  .submitButton {
    height: 42px;
    font-weight: 700;
    font-size: 15px;
    color: white;
    margin-bottom: 25px;
    font-family: Mulish-regular;
  }
  
  