.message {
  font-family: Mulish-regular;
  font-size: 0.7rem;
  padding: 0.6rem;
  margin: 0.5rem 0;
  color: #fff;
}

.myMessage {
  border-radius: 17px 17px 0 17px;
  background-color: #1d90f5;
  color: white;
  margin-right: 1.5rem;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 30%);
  /* box-shadow: 3px 5px 24px 0 rgba(0, 0, 0, 0.4); */
}

.recievedMessage {
  border-radius: 20px 20px 20px 0;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 24%);
  margin-left: 1.8rem;
  max-width: 50vw;
  position: relative;
}

.recievedMessage::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -35px;
  width: 0px;
  height: 0px;
  /* content: url("../../../../assets/images/robot.png"); */
}

.lightMessage {
  background-color: #fff;
}

.darkMessage {
  background-color: #424656;
}

.smallMessage {
  padding: 1rem 1.2rem;
}

.bigMessage {
  padding: 1.3rem 1.6rem;
}

.errorMessage {
  border-radius: 20px 20px 20px 0;
  box-shadow: 3px 5px 24px 0px rgba(0, 0, 0, 0.27);
  background-color: #BE0F39;
  margin-left: 1.5rem;
  max-width: 50vw;
  position: relative;
}

.errorMessage::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 0;
  height: 0;
  /* content: url("../../../../assets/images/robot.png"); */
}

.errorMessage div {
  color: white;
}

.chatChoices_container {
  max-width: 40vw;
  margin-left: 1.5rem;
}

.chatChoices {
  background: rgba(36, 38, 49, 0.3);
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  /* border: 0.5px solid rgb(255, 5, 5); */
  border: 0.5px solid rgb(83, 67, 67);
  margin: 1rem 0 0 0.5rem;
  font-size: 0.8rem;
  padding: 0.8rem;
  font-family: Mulish-regular;
}

.messagesContainer {
  height: 72vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #3f27f74d;
}

.time{
  color: #BE0F39;
}