.message {
  font-family: Mulish-medium;
  font-size: 1rem;
  padding: 0.6rem;
  margin: 0.5rem 0;
}

.smallMessage {
  padding: 0.5rem 0.8rem;
}

.bigMessage {
  padding: 0.7rem 1rem;
}

.myMessage {
  border-radius: 20px 20px 0 20px;
  color: white;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 18%);
  margin-right: 15px;
}

.recievedMessage {
  border-radius: 20px 20px 20px 0;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 24%);  
  margin-left: 1.5rem;
  max-width: 70vw;
}

.lightModeMessage {
  background-color: var(--secondarygreen);
}

.darkModeMessage {
  background-color: var(--blue);
}

.errorMessage {
  border-radius: 20px 20px 20px 0;
  background-color: var(--red);
  color: white;
  margin-left: 1.5rem;
  max-width: 50vw;
  position: relative;
}

.errorMessage::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 0;
  height: 0;
  content: url("../../assets/images/robot.png");
}

.recievedMessage::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -35px;
  width: 0px;
  height: 0px;
  content: url("../../assets/images/robot.png");
}

.lightMessage {
  background-color: white;
}

.darkMessage {
  background-color: white;
}

.chatChoices_container {
  max-width: 70vw;
  margin-top: 1.2rem;
  margin-left: 1rem;
}

.chatChoices {
  background: rgba(36, 38, 49, 0.3);
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  margin: 0.2rem 0 0.3rem 0.5rem;
  font-size: 0.9rem;
  padding: 0.3rem;
  font-family: Mulish-regular;
}

.messagesContainer {
  max-height: 65vh;
  overflow: auto;
}

.lightModeMessage{
  background-color: var(--secondarygreen);
}

.darkModeMessage{
  background-color: var(--blue);
}