
.container {
  position: fixed;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.top_section {
  /* background-color: #25d366 */
  height: 80px;
  font-weight: 700;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  padding: 0px 20px;
  bottom: 0;
}

/* Heading text */
.headingContainer,
.avatarContainer,
.toggleButtonContainer {
  display: flex;
  align-items: center;
}

.whatsappLogo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.innerRing {
  width: 70px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #25d366; /* WhatsApp green */
  margin-right: 10px;
}

/* Chat window */
.chatWindow {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0.5vw;
  padding-bottom: 0.5vw;
}

/* Chat background */
.BackBox {
  width: 100vw;
  height: 90vh;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wallpaper1,
.wallpaper2 {
  width: 82vw;
  height: 85vh;
  margin: auto;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Chat messages container */
.chat_component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Styling for individual chat messages */
.message {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  max-width: 70%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Styling for the timestamp in chat messages */
.timeStamp {
  font-size: 12px;
  color: #888;
}

/* Chat input box */
.chatInput {
  padding: 10px 20px;
  background-color: var(--white); /* White background */
  border: 1px solid var(--light-gray); /* Light gray border */
  flex: 1;
  font-size: 14px;
  border-radius: 30px;
  outline: none;
  transition: border-color 0.3s ease;
}

.chatInput:focus {
  border-color: var(--whatsapp-dark-green); /* Darker green border on focus */
  box-shadow: 0 0 0 2px #128c7e1a; /* Lighter green glow on focus */
}

/* Styling for the send button */
.sendButton {
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message,
.chatInput,
.sendButton {
  animation: fadeInUp 0.5s ease;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
