.container {
    margin: 1vh 0;
    height: 3rem;
    width: 80%;
    display: flex;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.lightContainer {
    background-color: var(--primarygreen);
}

.darkContainer {
    background-color: var(--primarydarkblue);
}


.activeContainer {
    margin: 1vh 0;
    height: 3rem;
    width: 80%;
    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.avatar {
    background-image: url('../../../../assets/images/killua.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 6vh;
    min-width: 6vh;
    margin: 0 1vh;
    border-radius: 50%;
}

.chatItem_text {
    flex: 1;
    height: 100%;
    margin-left: 2vw;
    padding: 0 1vh;
    display: flex;
    flex-direction: column;
}

.lightFontColor {
    color: white;
}

.darkFontColor {
    color: var(--secondarygreen);
}

.activeFont {
    color: white;
}

.chatItem_userName {
    flex:8;
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
    font-family: Mulish-regular;
}

.chatItem_phoneNumber {
    flex: 5;
    display: flex;
    align-items: flex-start;
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.7);
}

.chatItem_botName {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: Mulish-regular;
}

.chatItem_botNumber {
    flex: 0;
}

/* Toggle Theme Classes */

.lightPhoneColor {
    color: rgba(255, 255, 255, 0.7);
}

.darkPhoneColor {
    color: rgba(0, 0, 0, 0.7);
}

.activephoneFont {
    color: rgba(255, 255, 255, 0.7);
}

