* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Mulish-bold;
  src: url("../assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url("../assets/fonts/Mulish-Demi.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-medium;
  src: url("../assets/fonts/Mulish-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-regular;
  src: url("../assets/fonts/Mulish-Regular.ttf");
  font-display: swap;
}
::-webkit-scrollbar {
  width: 5px;
  scrollbar-color: #180e644d;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #180e644d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #030311;
  border-radius: 10px;
}

:root{
  --grey: #757171;
  --darkgrey: #424656;
  --primarydarkblue: #282a37;
  --darkblue: #080664;
  --tertiarydarkblue: #242631;
  --primarygreen: #b7e89f;
  --secondarygreen: #016F02;
  --tertiarygreen: #002C01;
  --blue: #1d90f5;
  --red: #be0f39;
  --golden: #D4C17B;
}

body {
  margin: 0;
  font-family: Mulish-regular !important;
  transition: opacity 200ms;
  position: relative;
  font-family: Mulish-medium;
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/images/homeScreen2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}
