* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Mulish-bold;
  src: url("assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url("assets/fonts/Mulish-Demi.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-medium;
  src: url("assets/fonts/Mulish-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-regular;
  src: url("assets/fonts/Mulish-Regular.ttf");
  font-display: swap;
}

body {
  margin: 0;
  font-family: Mulish-regular !important;
  background-color: rgb(255, 255, 255);
  transition: opacity 200ms;
  position: relative;
  font-family: Mulish-medium;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mulish-bold;
}
p {
  font-family: Mulish-regular;
}

a {
  text-decoration: none;
  color: inherit;
}

.chat-message {
  z-index: 0;
  position: relative;
  font-size: 0.87rem;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px #000080 solid;
  border-radius: 12px 12px 12px 0px;
  font-family: Mulish-regular;
  color: #000080;
  word-wrap: break-word;
  display: table;
  width: auto !important;
  font-weight: 500;
  margin-left: 25px;
}
.chat-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  content: url("assets/images/robot.png");
}
.chat-reciever {
  margin-left: auto;
  background-color: #000080;
  color: rgb(255, 255, 255);
  border-radius: 12px 12px 0px 12px;
  display: table;
  margin: 25px 0;
}
.chat-reciever::before {
  content: "";
}
.chat-body {
  /* opacity: 0; */
  width: 90%;
  top: 20px;
  background-color: #ffffff;
  padding: 0px 20px;
  padding-bottom: 98px !important;
  transition: opacity 200ms;
  position: relative;
  font-family: Mulish-medium;
}
.Toastify__toast-container{
  top: 50px;
}
@media screen and (max-width: 768px) {
  .chat-body {
    width: 100%;
  }
}
.chat-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.chat-choices {
  font-size: 0.9rem;
  padding: 10px;
  border: 1.5px #000080 solid;
  border-radius: 25px;
  font-family: Mulish-regular;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}
.chat-choices-container {
  margin-left: 15px;
  display: inline-flex;
  flex-wrap: wrap;
}
.chat-error-message {
  z-index: 0;
  position: relative;
  font-size: 0.9rem;
  padding: 10px;
  border: 1.5px red solid;
  color: red;
  border-radius: 12px 12px 12px 0px;
  font-family: Mulish-medium;
  word-wrap: break-word;
  display: table;
  width: auto !important;
  font-weight: 500;
  margin-left: 25px;
  margin-bottom: 1rem;
}
.chat-error-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  content: url("assets/images/robot.png");
}
.chat-body-container {
  flex: 1;
  background-repeat: repeat;
  background-position: center;
  overflow: scroll;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: relative;
}
.chat-body-container::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chat-header {
  padding: 10px;
  padding-right: 0px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  background-image: url("assets/images/sidebar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000080;
  background-blend-mode: multiply;
  color: white;
  z-index: 5;
  position: fixed;
  width: 100%;
}
.chat__header--info {
  flex: 1;
  margin-left: 8px;
}

.chat__header--info > h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}

.chat__header--right {
  display: flex;
  justify-content: space-between;
  min-width: 50px;
}

.chat__header--right > .MuiButtonBase-root {
  padding: 12px;
}
.chat__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 5;
  transform: translateZ(456px);
  padding: 30px 0px;
}

.chat__footer > form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.send__btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #06d755;
  box-shadow: 0px 0px 2px 0px #0000005e;
  border: none;
  transition: transform 150ms;
  transform: scale(1);
  cursor: pointer;
  color: #fff;
  font-family: Mulish-regular;
}

.send__btn:active {
  transform: scale(0.75);
}

.send__btn:focus {
  outline: none;
}

.send__btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.send__btn svg:nth-child(1) {
  opacity: 0;
  transform: translateX(-48%) translateY(-50%);
}

.chat__footer > .MuiSvgIcon-root {
  color: gray;
  box-sizing: content-box;
}

.chat__footer > form > input {
  height: 44px;
  border-radius: 31px;
  padding-left: 20px;
  border: none;
  font-size: 15px;
  margin-right: 10px;
  padding-right: 20px;
  box-shadow: 0px 0px 2px 0px #0000003b;
  font-family: Roboto, sans-serif;
  transition: all 300ms;
  width: calc(100% - 150px);
  /*112px 56px*/
  position: relative;
}

.chat__footer > form > input:focus {
  outline: none;
}
::placeholder {
  color: #a9a9a9;
  font-family: Mulish-regular;
}

.app__body {
  background-image: linear-gradient(to right, #f5f5f5, #fdfdfda1);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  box-shadow: -1px 4px 20px 6px rgb(0 0 0 / 20%);
  overflow: hidden;
  position: relative;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #000080;
  border-radius: 10px;
}