* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Mulish-bold;
  src: url("../assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url("../assets/fonts/Mulish-Demi.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-medium;
  src: url("../assets/fonts/Mulish-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-regular;
  src: url("../assets/fonts/Mulish-Regular.ttf");
  font-display: swap;
}
::-webkit-scrollbar {
  width: 5px;
  scrollbar-color: #180e644d;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #180e644d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #030311;
  border-radius: 10px;
}

body {
  margin: 0;
  font-family: Mulish-regular !important;
  transition: opacity 200ms;
  position: relative;
  font-family: Mulish-medium;
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/images/homeScreen2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

/* body {
  font-family: Mulish-regular !important;
  transition: opacity 200ms;
  position: relative;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mulish-bold;
}
p {
  font-family: Mulish-regular;
}

a {
  text-decoration: none;
  color: inherit;
}

.chat-message {
  z-index: 0;
  position: relative;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  font-family: Mulish-regular;
  word-wrap: break-word;
  display: table;
  width: auto !important;
  font-weight: 500;
  margin-left: 25px;
  background: rgba(82, 251, 82, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px 12px 12px 0px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.chat-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  content: url("../assets/images/robot.png");
}
.chat-reciever {
  margin-left: auto;
  border-radius: 12px 12px 0px 12px;
  display: table;
  margin: 25px 0;
}
.chat-reciever::before {
  content: "";
}

.Toastify__toast-container {
  top: 50px;
}
@media screen and (max-width: 768px) {
  .chat-body {
    width: 100%;
  }
} */
/* .chat-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
} */
/* .chat-choices {
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 25px;
  font-family: Mulish-regular;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.chat-choices-container {
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
}
.chat-error-message {
  z-index: 0;
  position: relative;
  font-size: 1.2rem;
  padding: 10px;
  border: 1.5px red solid;
  color: red;
  border-radius: 12px 12px 12px 0px;
  font-family: Mulish-medium;
  word-wrap: break-word;
  display: table;
  width: auto !important;
  font-weight: 500;
  margin-left: 25px;
  margin-bottom: 1rem;
}
.chat-error-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
}

.chat-body-container::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 5;
  transform: translateZ(456px);
  padding: 30px 0px;
}

.chat__footer > form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.send__btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px #0000005e;
  border: none;
  transition: transform 150ms;
  transform: scale(1);
  cursor: pointer;
  color: #fff;
  font-family: Mulish-regular;
}

.send__btn:active {
  transform: scale(0.75);
}

.send__btn:focus {
  outline: none;
}

.chat__footer > .MuiSvgIcon-root {
  color: gray;
  box-sizing: content-box;
} */

/* .chat__footer > form > input {
  height: 44px;
  border-radius: 31px;
  padding-left: 20px;
  border: none;
  font-size: 15px;
  margin-right: 10px;
  padding-right: 20px;
  box-shadow: 0px 0px 10px 0px #0000003b;
  box-shadow: 0px 0px 15px 0px #0000003b;
  font-family: Roboto, sans-serif;
  transition: all 300ms;
  width: calc(100% - 150px);
  position: relative; 
} */

/* .chat__footer > form > input:focus {
  outline: none;
}
::placeholder {
  color: #a9a9a9;
  font-family: Mulish-regular;
}

/*  */

/* ::-webkit-scrollbar {
  width: 10px;
  scrollbar-color: #180e644d;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #180e644d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #030311;
  border-radius: 10px;
}

.box-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #122564, transparent);
}

@media (max-width: 768px) {
  .SideBar {
    display: none;
  }

  #topBar {
    width: 100%;
  }

  #textBar {
    width: 100%;
  }
} */
