.container {
  width: 80vw;
  position: fixed;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input_box {
  background-color: #424656;
  border-radius: 15px;
  height: 6vh;
  width: 55vw;
  padding: 1rem;
  margin: 0 0.5rem;
}

.input_box:focus{
  outline: 2px solid #1D90F5;
}


.sendMessage_form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit_button {
  min-width: 55px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
  /* background-color: #1d90f5; */
  color: white;
}

.lightModeSubmitButton{
  background-color: #016F02;
}

.darkModeSubmitButton{
  background-color: #1D90F5;
}

.add_button {
  min-width: 55px;
  min-height: 45px;
  border-radius: 50%;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #525769;
  background-color: #424656;
}


/* Theme Toggle Classes */

.lightInput {
  background-color: #fff;
  
}

.darkInput {
  background-color: #424656;
}

.lightAttach {
  background-color: #fff;
}

.darkAttach {
  background-color: #424656;
}