.container {
  width: 58vw;
  margin: auto;
  /* position: fixed; */
  /* bottom: 7vh;
  right: 5.5vw; */
}

.input_box {
  border-radius: 15px;
  height: 6vh;
  width: 55vw;
  padding: 1rem;
  margin: 0 0.5rem;
  backdrop-filter: blur(4px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input_box:focus {
  outline: 2px solid var(--blue);
}

.lightInput {
  background-color: white;
}

.darkInput {
  background-color: var(--darkgrey);
}

.sendMessage_form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit_button {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

.lightModeSubmitButton{
  background-color: var(--secondarygreen);
}

.darkModeSubmitButton{
  background-color: var(--blue);
}

.add_button {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

.lightAttach {
  background-color: white;
}

.darkAttach {
  background-color: var(--darkgrey);
}

.popover {
  margin-left: 5px;
  width: 50px;
  align-content: center;
  align-items: center;
  padding-left: 5px;
}

.popover:focus {
  outline: none !important;
}
