.main {
  height: 100vh;
  display: grid;
}

.otpVerify {
  font-weight: 600;
  font-size: 22px;
  color: #474646;
}

.otpSent {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

.pinInputField {
  text-align: center;
  border-radius: 50%;
  /* background: #F6F6F6; */
  border: 1px solid darkgreen;
  width: 42px;
  height: 42px;
}

.timer {
  margin: 17px 0px;
  font-weight: 400;
  font-size: 12px;
  color: #675b5b;
}

.resend {
  font-weight: 400;
  font-size: 12px;
}

.submitButton {
  height: 42px;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 25px;
  font-family: Mulish-regular;
}

.login {
  background-color: #3e3c3c;
  color: white;
  text-align: center;
  padding: 26px 0px;
  border-radius: 50px 50px 0px 0px;
}

.container {
  background-repeat: no-repeat !important;
}

.lightContainer {
  background-image: url("../../assets/images/homeScreen2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
