.container {
    margin: auto;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

.otpVerify {
    font-weight: 600;
    font-size: 22px;
    color: #474646;
    margin-top: 431px;
}

.otpSent {
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
}

.pinInputField{
    text-align: center;
    border-radius: 50%;
    background: #F6F6F6;
    border: 1px solid #080664;
    width: 42px;
    height: 42px;
}

.timer {
    margin: 17px 0px;
    font-weight: 400;
    font-size: 12px;
    color: #675B5B;
}

.resend{
    font-weight: 400;
    font-size: 12px;
}

.submitButton{
    width: 259px !important;
    height: 39px;
    background: #080664;
    border-radius: 12px;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.login {
    background-color: #3E3C3C;
    color: white;
    text-align: center;
    padding: 26px 0px;
    border-radius: 50px 50px 0px 0px;
}

.container {
    background-repeat: no-repeat !important;
} 