.lightContainer {
  position: fixed;
  height: 100vh;
  background-color: var(--primarygreen);
  
}

.darkContainer {
  position: fixed;
  height: 100vh;
  background-color: var(--primarydarkblue); 
 
}
.top_section {
  width: 100%;
  height: 60px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  /* position: fixed; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* z-index: 1; */
  color: white;
  padding: 0px 3.5vw;
  background-color: var(--primarygreen);
 
}

.heading {
  font-size: 1.5rem;
  font-family: 'Mulish', sans-serif;
font-weight: 700;
  margin-left: 2rem;
  
}

.logo_box {
  /* background-image: url("../../../assets/images/c4gt_logo.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 2.5rem;
  min-height: 2.5rem;
  flex: flex-end;
  margin-right: 1rem;
  border-color: none;
}

.mainContainer {
  margin-top: 0vh;
  /* height: 91vh; */
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--primarygreen);
 
  
}

.backBox {
  background-color: white;
  /* top: 14vh; */
  width: 100vw;
  /* height: 89vh; */
  min-height: 90vh;
  height: auto;
  /* position: fixed; */
  border-radius: 40px 40px 0px 0px;
  /* box-shadow: 2px 2px 20px 6px rgba(0, 0, 0, 0.25) inset; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.starred{
  /* background-color: var(--lightgrey); */
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 80%;
  margin: 20px auto 0px auto;
  padding: 4px;
  border-radius: 5px;
}
/* .starred:hover {
  background-color: var(--primarygreen);
  color: white;
} */
.floatingBtn {
  position: fixed;
  bottom: 10px;
  right:10px;
}
.chatList {
  /* margin-top: 2vh; */
  /* max-height: 78vh; */
  max-height: 80vh;
  /* min-height: 80vh; */
  overflow: auto;
  padding: 0 4vw;
  /* padding: 0 6vw; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
 
 
}

.settingsBar {
  position: fixed;
  bottom: 2vh;
  width: 65vw;
  height: 80px;
  border-radius: 17px;
  box-shadow: -6px -4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    3px 4px 3px 0px rgba(255, 255, 255, 0.11) inset,
    3px 4px 13px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lightSettingsBar {
  background-color: var(--secondarygreen);
}

.darkSettingsBar {
  background-color: var(--blue);
}

.darkBackBox {
  background-color: var(--tertiarydarkblue);
}

.addUser_button {
  margin: 0.4rem;
  background-color: var(--secondarygreen);
  min-width: 50px;
  min-height: 50px;
  /* border-radius: 50%; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightBackBox {
  background-color: white;
}

.darkBackBox {
  background-color: var(--tertiarydarkblue);
}

/* Spinner CSS */
.spinner {
  --size: 30px;
  --first-block-clr: #005bba;
  --second-block-clr: #fed500;
  --clr: #111;
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
 }
 
 .spinner::after,.spinner::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  -webkit-animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
          animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
 }
 
 .spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  -webkit-animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
          animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
 }
 
 @-webkit-keyframes down {
  0%, 100% {
   -webkit-transform: none;
           transform: none;
  }
 
  25% {
   -webkit-transform: translateX(100%);
           transform: translateX(100%);
  }
 
  50% {
   -webkit-transform: translateX(100%) translateY(100%);
           transform: translateX(100%) translateY(100%);
  }
 
  75% {
   -webkit-transform: translateY(100%);
           transform: translateY(100%);
  }
 }
 
 @keyframes down {
  0%, 100% {
   -webkit-transform: none;
           transform: none;
  }
 
  25% {
   -webkit-transform: translateX(100%);
           transform: translateX(100%);
  }
 
  50% {
   -webkit-transform: translateX(100%) translateY(100%);
           transform: translateX(100%) translateY(100%);
  }
 
  75% {
   -webkit-transform: translateY(100%);
           transform: translateY(100%);
  }
 }
 
 @-webkit-keyframes up {
  0%, 100% {
   -webkit-transform: none;
           transform: none;
  }
 
  25% {
   -webkit-transform: translateX(-100%);
           transform: translateX(-100%);
  }
 
  50% {
   -webkit-transform: translateX(-100%) translateY(-100%);
           transform: translateX(-100%) translateY(-100%);
  }
 
  75% {
   -webkit-transform: translateY(-100%);
           transform: translateY(-100%);
  }
 }
 
 @keyframes up {
  0%, 100% {
   -webkit-transform: none;
           transform: none;
  }
 
  25% {
   -webkit-transform: translateX(-100%);
           transform: translateX(-100%);
  }
 
  50% {
   -webkit-transform: translateX(-100%) translateY(-100%);
           transform: translateX(-100%) translateY(-100%);
  }
 
  75% {
   -webkit-transform: translateY(-100%);
           transform: translateY(-100%);
  }
 }
 
