.container {
    margin: 1vh 0;
    height: 3rem;
    width: 80%;
    display: flex;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.lightContainer {
    background-color: #fff;
}

.darkContainer {
    background-color: #272A37;
}

.activeContainer {
    margin: 1vh 0;
    height: 3rem;
    width: 80%;
    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: #1D90F5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

}

.avatar {
    background-image: url('../../../../assets/images/killua.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 2rem;
    min-width: 2rem;
    margin-left: 1rem;
    border-radius: 50%;
}

.chatItem_text {
    flex: 1;
    height: 100%;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
}

.lightFontColor {
    color: white;
}

.darkFontColor {
    color: black;
}

.activeFont {
    color: white;
}

.chatItem_userName {
    flex:8;
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
    font-family: Mulish-regular;
}
.chatItem_botName {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: Mulish-regular;
}

.chatItem_botNumber {
    flex: 0;
}
.chatItem_phoneNumber {
    flex: 5;
    display: flex;
    align-items: flex-start;
    font-size: 0.5rem;
}

.lightPhoneColor {
    color: rgba(255, 255, 255, 0.7);
}

.darkPhoneColor {
    color: rgba(0, 0, 0, 0.7);
}

.activephoneFont {
    color: rgba(255, 255, 255, 0.7);
}