.container {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #ccc; */
  font-weight: 600;
  padding: 0 16px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
  border-radius: 8px; /* Rounded corners for a softer look */
}

.container:hover {
  background-color: white; /* Lighter hover color */
  transform: translateY(-2px);
}

/* Active container */
.activeContainer {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  font-weight: 600;
  padding: 0 16px;
  border-radius: 8px;
}

.activeContainer:hover {
  background-color: #e5e5e5;
  transform: translateY(-2px);
}

/* Avatar style */
.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Slightly prominent shadow */
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Chat item text container */
.chatItem_text {
  flex: 1;
  height: 100%;
  margin-left: 16px;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  color: #333; /* Dark gray text color */
}

/* Chat item username */
.chatItem_userName {
  flex: 8;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

/* Chat item phone number */
.chatItem_phoneNumber {
  flex: 5;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  color: #666; /* Darker gray for less emphasis */
}

/* Chat item bot name */
.chatItem_botName {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888; /* Light gray for less emphasis */
}

/* Paragraph style */
.paragraphStyle {
  text-overflow: ellipsis;
  max-width: calc(100% - 48px); /* Adjust based on avatar width */
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
  font-size: 16px;
}

/* Paragraph style for expired bots */
.paragraphStyleExpired {
  color: #999;
  text-decoration: line-through;
  font-size: 14px;
  opacity: 0.6;
}

/* Paragraph style for active bots */
.paragraphStyleActive {
  font-size: 16px;
  font-weight: 600;
}

/* Animation for fading in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
