.container {
  /* margin: 2vh 0; */
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px var(--lightgrey) dotted;
  background-color: white;
  /* border-radius: 10px; */
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3); */
  font-weight: 600;
}

/* .lightContainer {
    background-color: var(--primarygreen);
}

.darkContainer {
    background-color: var(--primarydarkblue);
} */

.activeContainer {
  /* margin: 2vh 0; */
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px var(--lightgrey) dotted;
  background-color: white;
  /* border-radius: 10px; */
  /* background-color: var(--blue); */
  font-weight: 600;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3); */
}

.avatar {
  /* background-image: url('../../../../assets/images/killua.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 6vh;
  width: 6vh;
  /* margin: 0 1vh; */
  /* padding: 10px; */
  border-radius: 50%;
}

.chatItem_text {
  flex: 1;
  height: 100%;
  margin-left: 2vw;
  padding: 0 1vh;
  display: flex;
  flex-direction: column;
}

.chatItem_userName {
  flex: 8;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
}

.chatItem_phoneNumber {
  flex: 5;
  display: flex;
  align-items: flex-start;
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.chatItem_botName {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: 'Mulish', sans-serif;
}

.chatItem_botNumber {
  flex: 0;
}
