/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-anchor: none;
}
.S--focusing .MessageList {
  margin-top: 0 !important;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');
@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('../assets/fonts/Mulish-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url('../assets/fonts/Mulish-Demi.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('../assets/fonts/Mulish-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('../assets/fonts/Mulish-Regular.ttf');
  font-display: swap;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #180e644d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--darkblue);
  border-radius: 10px;
}

:root {
  --lightgrey: #d8d8d9;
  --grey: #757171;
  --darkgrey: #424656;
  --primarydarkblue: #282a37;
  --darkblue: #080664;
  --tertiarydarkblue: #242631;
  --primarygreen: #2d3594;
  --secondarygreen: white;
  --tertiarygreen: #002c01;
  --blue: #1d90f5;
  --red: #be0f39;
  --golden: rgba(253,199,0,0.7);
  --primaryyellow: #fec701;
  --black: #000000;
  --white: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: Mulish-regular !important;
  transition: opacity 200ms;
  position: relative;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}

body {
  /* background-image: url("../assets/images/homeScreen2.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; */
  background-color: var(--primaryyellow) !important;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}
:root {
  font-size: 15px;
}

.ChatFooter {
  background-color: var(--white) !important;
}

button{
  border: none;
}

