* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-anchor: none;
}

.S--focusing .MessageList {
  margin-top: 0 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');
@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('../assets/fonts/Mulish-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url('../assets/fonts/Mulish-Demi.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('../assets/fonts/Mulish-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('../assets/fonts/Mulish-Regular.ttf');
  font-display: swap;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #180e644d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--darkblue);
  border-radius: 10px;
}

:root {
  --lightgrey: #d8d8d9;
  --grey: #757171;
  --darkgrey: #424656;
  --primarydarkblue: #282a37;
  --darkblue: #080664;
  --tertiarydarkblue: #242631;
  --primarygreen: #2d3594;
  --secondarygreen: white;
  --tertiarygreen: #002c01;
  --blue: #1d90f5;
  --red: #be0f39;
  --golden: rgba(253,199,0,0.7);
  --primaryyellow: #fec701;
  --black: #000000;
  --white: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: Mulish-regular !important;
  transition: opacity 200ms;
  position: relative;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}
:root {
  font-size: 15px;
}

.send-

button{
  border: none;
}

.Input{
  color: var(--input-color);
}

.ChatApp{
  background: var(--chat-bg-color);
  color: var(--input-color);
  @media screen and (max-width: 768px) {
    padding-bottom: 1vw;
  }
}

.ChatFooter {
  width: 80%;
  border-radius: var(--text-input-border-radius);
  margin: var(--text-input-margin);
  padding: var(--text-input-padding);
  background: var(--chat-footer-color) !important;
  @media screen and (max-width: 768px) {
    width: 88vw;
  }
}

.main-input{
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  width: 100%;
}

.FooterIcons{
  display: flex;
}

.voice-mic {
  position: relative;
  width: 35px;
  height: 35px;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.voice-mic.active{
  scale: 1.1;
  margin: 2px;
}

.mic-icon {
  color: black;
  z-index: 1;
}

.text-input {
  display: flex;
  flex: 1;
  width: 100%;

  /* @media screen and (max-width: 768px) {
    width: 10%;
  } */
    
  }

.voice-mic.active::before {
  content: '';
  position: absolute;
  top: 10;
  left: 10;
  width: 80%;
  height: 80%;
  border: 2px solid red;
  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  transform-origin: center center;
  animation: rotateBorder 3s linear infinite;
  z-index: 0;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
    scale: 1.1;
  }
  to {
    transform: rotate(360deg);
    scale: 1.1;
  }
}

.send-icon{
  color: var(--text-input-send-icon-color);
}