.main__container {
    flex: 1;
    flex-wrap: wrap;
    width: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.image_box{
    border-radius:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}